* {
	margin: 0;
}


/*-----------------------------------------*/
/*                 Fonts                   */
/*-----------------------------------------*/

@font-face {
	font-family: 'Courier New';
	src: url(../fonts/Courier New.ttf);
}


/*-----------------------------------------*/
/*                  Main                   */
/*-----------------------------------------*/

body {
	font-family: 'Lato', sans-serif;
	color: black;
	background: url(../img/outline_mustard.png) top center repeat;
	font-weight: 300;
}

#wrap {
	margin-top: 100px;
	text-align: center;
}

.container {
	text-align: left;
	display: inline-block;
}

#header {
	margin-bottom: 75px;
}

#name {
	font-family: 'Courier New', serif;
	font-size: 20pt;
	padding-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0;
}

p {
	font-size: 10pt;
	line-height: 24px;
	letter-spacing: .025em;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	color: #ffcc00;
}

#title {
	text-align: left;
	padding-bottom: 25px;
}

#project {
	font-family: 'Courier New', serif;
	font-size: 13pt;
	text-transform: uppercase;
	letter-spacing: 0;
}

#subtitle {
	font-family: 'Lato', sans-serif;
	font-size: 10pt;
	font-style: italic;
}

.group {
	margin-bottom: 75px;
	max-width: 907px;
	text-align: center;
}

#tile {
	width: 300px;
}

.gifplayer {
	max-width: 100%;
}

#footer {
	padding-bottom: 100px;
}


/*-----------------------------------------*/
/*               Responsive                */
/*-----------------------------------------*/

@media (max-width: 700px) {

	#wrap {
		margin: 10%;
	}

	#name {
		font-size: 34pt;
		padding-bottom: 25px;
	}

	p {
		font-size: 26pt;
		line-height: 38pt;
	}

	.group {
		text-align: center;
	}

	img {
		width: 70%;
	}
}


/*-----------------------------------------*/
/*                 Mobile                  */
/*-----------------------------------------*/

@media only screen and (max-device-width: 700px) {

	#wrap {
		margin: 10%;
	}

	#name {
		font-size: 42pt;
		padding-bottom: 30px;
	}

	#link {
		padding-bottom: 25px;
	}

	p {
		font-size: 24pt;
		line-height: 38pt;
	}

	#project {
		font-size: 28pt;
		line-height: 26pt;
	}

	#subtitle {
		font-size: 24pt;
	}

	#tile {
		width: 400px;
	}

}