/*

=====================
GENERAL
=====================

*/
html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}
header {
  z-index: 1000;
}

.page-top {
  margin: 100px 70px 100px 70px;
}
.img-responsive {
  margin: 0 auto;
}
.img-detail {
  margin-bottom: 5%;
}
.no-space .box {
  margin: 0 -15px;
}
.margin-top {
  margin-top: 30px;
}
.margin-top--big {
  margin-top: 60px !important;
}
.margin-bottom {
  margin-bottom: 30px;
}
.margin-bottom--big {
  margin-bottom: 60px !important;
}
.margin-bottom--zero {
  margin-bottom: 0 !important;
}
.no-padding-top {
  padding-top: 0;
}
.no-padding-bottom {
  padding-bottom: 0;
}
.padding--small {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (max-width: 991px) {
  .text-center-mobile {
    text-align: center !important;
  }
}
a,
button {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
a i.fa,
button i.fa {
  margin: 0 5px;
}
.clickable {
  cursor: pointer !important;
}
.required {
  color: #ffcc00;
}
.accent {
  color: #ffcc00;
}
.text-uppercase {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.list-style-none {
  list-style: none;
}
.icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 30px;
  border: solid 1px #ffcc00;
  color: #ffcc00;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-size: 30px;
  margin: 0 auto 30px;
  text-align: center;
}

footer {
  margin-bottom: 50px;
}


/*

=====================
BOX-MASONRY
=====================

*/
.grid {
  margin-right: 50px;
  margin-left: 50px;
}

.box-masonry {
  margin-bottom: 30px;
  position: relative;
  border: 1px solid #dcdcdc;
  overflow: hidden;
  text-overflow: ellipsis;
}
.box-masonry h2 {
  font-size: 16px;
  line-height: 1.5;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.box-masonry h2 a {
  color: #000;
  border-bottom: solid 1px transparent;
}
.box-masonry h2 a:hover {
  border-bottom: dotted 1px #ffcc00;
  color: #000;
  text-decoration: none;
}
.box-masonry .box-masonry-text {
  padding: 15px 20px 15px;
}
.box-masonry .box-masonry-hover-text-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 15px 20px 15px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.box-masonry .box-masonry-hover-center {
  position: absolute;
  width: 100%;
  top: 30%;
  opacity: 0;
  padding-left: 20px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  text-align: center;
}
.box-masonry:hover .box-masonry-hover-text-header {
  opacity: 1;
}
.box-masonry:hover .box-masonry-hover-center {
  opacity: 1;
}
.box-masonry:hover .box-masonry-image.with-hover-overlay:before {
  opacity: 0.8;
}
.box-masonry:hover .box-masonry-image.with-hover-icon:after {
  opacity: 0.7;
}
.box-masonry h2:last-child,
.box-masonry p:last-child {
  margin-bottom: 0;
}
.box-masonry .box-masonry-image {
  display: block;
  position: relative;
  min-height: 100px;
}
.box-masonry .box-masonry-image.with-hover-overlay:before {
  display: block;
  position: absolute;
  content: " ";
  background: #ffcc00;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.box-masonry .box-masonry-image.with-hover-icon:after {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-family: 'FontAwesome';
  content: '\f105';
  text-align: center;
  font-size: 50px;
  color: #000;
}
.box-masonry .box-masonry-image:hover {
  text-decoration: none;
}
.box-simple {
  text-align: center;
  margin-bottom: 48px;
}
.box-simple h3 {
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
  color: #555555;
}
.box-simple h3 a {
  color: #555555;
}
.box-simple p {
  color: #999999;
}
.box-simple:hover .icon {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.box-simple:hover .icon i {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
.box-simple.box-white {
  padding: 20px;
  border: dotted 1px #999999;
}
.box-simple.box-white .icon {
  color: #555555;
  border-color: transparent;
  font-size: 70px;
}
.box-simple.box-dark {
  padding: 20px;
  border: dotted 1px #999999;
  background: #555555;
  color: #fff;
}
.box-simple.box-dark .icon {
  color: #f7f7f7;
  border-color: transparent;
  font-size: 70px;
}
.box-simple.box-dark h3 {
  color: #fff;
}
.box-simple.box-dark h3 a {
  color: #fff;
}
.box-simple.box-dark p {
  color: #fff;
}
.box-image {
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: 15px 0;
}
.box-image .bg {
  position: absolute;
  top: auto;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  background: #ffcc00;
}
.box-image .name {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  -webkit-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #fff;
  padding: 0 20px;
}
.box-image .name h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 0.08em;
}
.box-image .name h3 a {
  color: #fff;
  text-decoration: none;
}
.box-image .text {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  -webkit-transform: translate(0, -150%);
  -ms-transform: translate(0, -150%);
  transform: translate(0, -150%);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #fff;
  padding: 0 20px;
}
.box-image:hover .bg {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.box-image:hover .name {
  position: absolute;
  -webkit-transform: translate(0, -75%);
  -ms-transform: translate(0, -75%);
  transform: translate(0, -75%);
}
.box-image:hover .text {
  position: absolute;
  -webkit-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
}
.box-image-text {
  position: relative;
  background: #fff;
  overflow: hidden;
  text-align: center;
  margin: 15px 0;
}
.box-image-text .top {
  position: relative;
  margin-bottom: 10px;
}
.box-image-text .top .bg {
  position: absolute;
  top: auto;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  background: #fff;
}
.box-image-text .top .logo {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.box-image-text .top .name {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  -webkit-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #fff;
  padding: 0 20px;
}
.box-image-text .top .name h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 0.08em;
}
.box-image-text .top .name h3 a {
  color: #fff;
  text-decoration: none;
}
.box-image-text .top .name h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 0.08em;
}
.box-image-text .top .name h2 a {
  color: #fff;
  text-decoration: none;
}
.box-image-text .top .text {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  -webkit-transform: translate(0, -150%);
  -ms-transform: translate(0, -150%);
  transform: translate(0, -150%);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #fff;
  padding: 0 20px;
}
.box-image-text .content {
  padding: 15px 15px 0 15px;
}
.box-image-text .content h2,
.box-image-text .content h3 {
  text-transform: uppercase;
  line-height: 1.5;
  color: #555555;
  font-weight: lighter;
  letter-spacing: 0.08em;
}
.box-image-text .content p {
  color: #999999;
}
.box-image-text.bg-visible .bg {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.box-image-text:hover .bg {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.box-image-text:hover .name {
  position: absolute;
  -webkit-transform: translate(0, -75%);
  -ms-transform: translate(0, -75%);
  transform: translate(0, -75%);
}
.box-image-text:hover .text {
  position: absolute;
  -webkit-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
}

/*

=====================
DETAIL PAGE
=====================

*/
.detail-page {
  margin-right: 50px;
  margin-left: 50px;
}


/*

=========================================
BOOTSTRAP COMPONENTS          
=========================================

/*

/* navbar */

/* collapsed menu in every view */
.navbar-header {
    float: none;
}
.navbar-toggle {
    display: block;
}
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
}
.navbar-nav>li {
    float: none;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-collapse.collapse.in {
  display: block !important;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  bottom: 0;
  margin: auto;
}
/* menu bg */
.navbar-default .navbar-collapse {
  border-color: transparent;
  background-color: rgba(255, 204, 0, 0.85);
  /* background: url(../img/pattern_mustard_outlines.png); */
}
.navbar-default a {
  font-family: "Lato";
  text-transform: uppercase;
}
/* menu items */
.navbar-default .navbar-nav li a {
  color: #000000;
  text-align: center;
}
.navbar-default .navbar-nav .active a {
  border-bottom: 2px solid #ffcc00;
}
.navbar-default a:hover{
  border-bottom: 2px solid #ffcc00;
}
.navbar-collapse.in {
  overflow-y: auto;
}
.container > .navbar-header,
.container > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
.navbar-brand {
  float: left;
  margin-top: 25px;
  padding: 10px 15px;
  height: 80px;
}
.navbar-header .navbar-brand {
  color: #ffcc00;
}
.navbar-nav {
  margin: 14px -15px;
}
@media (min-width: 768px) {
  .navbar-toggle { 
    margin-top: 25px;
  }
}
@media (max-width: 767px) {
  .navbar-brand { 
    margin-top: 6px;
  }
}
.navbar-default {
  background-color: transparent;
  border-bottom-color: transparent;
}
/* no border on navbar btn */
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffcc00;
}
/* black menu icon on hover */
.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: black;
}
.navbar-default .navbar-link {
  color: #ffcc00;
}
.navbar-default .navbar-link:hover {
  color: #ffcc00;
}

/* modal */
.modal-content {
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
}

/* scaffolding */
body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.55;
  color: #000000;
}
a {
  color: #ffcc00;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #ffcc00;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
hr {
  margin-top: 24px;
  margin-bottom: 24px;
  border: 0;
  border-top: 1px solid #cdcdcd;
}
.progress {
  overflow: hidden;
  height: 24px;
  margin-bottom: 24px;
  background-color: #f5f5f5;
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

/* breadcrumbs */
.breadcrumb {
  padding: 8px 0;
  margin-bottom: 24px;
  background-color: transparent;
  border-radius: 0;
  text-align: center;
}
.breadcrumb > li + li:before {
  content: "/\00a0";
  color: #cccccc;
}
.breadcrumb > .active {
  color: #999999;
}
.breadcrumb a {
  color: #ffcc00;
}
@media (max-width: 991px) {
  .breadcrumb {
    padding: 8px 0;
    text-align: center;
  }
}

/* responsive utilities */
@media (max-width: 767px) {
  .page-top {
    margin: 100px 5px 50px 5px;
  }
  .text-center-xs {
    text-align: center !important;
  }
  .text-center-xs img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .grid {
    margin-left: -15px;
    margin-right: -15px;
  }
  footer {
    margin-left: -60px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .text-center-sm {
    text-align: center !important;
  }
  .text-center-sm img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* type */
h1,
h2,
h3
.h1,
.h2,
.h3 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.2;
  color: #000000;
}
h1,
.h1 {
  font-size: 24px;
  font-family: "Courier New", serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
h2,
.h2 {
  font-size: 20px;
  font-family: "Courier New", serif;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
h3,
.h3 {
  font-size: 16px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  font-style: italic;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 0;
  margin-bottom: 24px;
}
p {
  margin: 0 0 24px;
  font-size: 16px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}
.text-primary {
  color: #ffcc00;
}
a.text-primary:hover {
  color: #ffcc00;
}
.bg-primary {
  color: #fff;
  background-color: #ffcc00;
}
a.bg-primary:hover {
  background-color: #ffcc00;
}
abbr[title],
abbr[data-original-title] {
  border-bottom: 1px dotted #999999;
}
