* {
	margin: 0;
}

@font-face {
	font-family: 'Lato', sans-serif;
	src: url("https://fonts.googleapis.com/css?family=Lato:300");
}

@font-face {
	font-family: 'Courier New';
	src: url(../fonts/Courier New.ttf);
}

body {
	font-family: 'Lato', sans-serif;
	color: black;
	background: url(../img/outline_mustard.png) top center no-repeat;
}

#wrap {
	margin-top: 100px;
	text-align: center;
}

.container {
	text-align: left;
	display: inline-block;
}

#title {
	font-family: 'Courier New', serif;
	font-size: 18pt;
	padding-bottom: 10px;
	line-height: 45px;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 24px;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	color: #ffcc00;
}

#gifs {
	margin-top: 24px;
}

img {
	width: 325px;
}


/*-----------------------------------------*/
/*            Responsive style             */
/*-----------------------------------------*/

@media only screen and (max-width: 700px) {

	#wrap {
		margin: 0;
	}

	.container {
		margin: 25px;
	}

	#gifs {
		text-align: center;
		max-width: 400px;
	}

	img {
		width: 235px;
	}
}