<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="robots" content="all,follow">

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<!--  styles  -->

	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300">
	<link rel="stylesheet" href="css/font-awesome.min.css">

	<!--  favicon  -->

  <link rel="shortcut icon" href="favicon.png">

  <!--  tweaks for older IEs  -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

</head>
