<!-- menu icon -->

<!-- inline tesselate svg -->
<svg version="1.1" class="tesselate" id="toggle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 310 310" enable-background="new 0 0 310 310" xml:space="preserve">
<g>
	<polygon stroke-width="11" stroke-linecap="square" stroke-miterlimit="10" points="
		116.852,221.827 193.152,250.357 109.042,302.9 35.396,222.537 109.042,140.747 		"/>
	<polygon stroke-width="11" stroke-linecap="square" stroke-miterlimit="10" points="193.152,88.189
		116.852,59.658 200.959,7.1 274.604,87.479 200.959,169.273 		"/>
</g>
</svg>

<!-- menu items -->
<div class="overlay" id="overlay" class="list-group">
  <nav class="overlay-menu">
    <a href="/info" class="list-group-item list-group-item-action">info</a></li>
    <a href="/cv" class="list-group-item list-group-item-action">cv</a></li>
		<a href="/connect" class="list-group-item list-group-item-action">connect</a></li>
  </nav>
</div>
