// nav style

// nav icon

.button-container {
  width: 35px;
  z-index: 100;
  position: fixed;
  right: 20%;
  top: 5%;
  cursor: pointer;
  transition: opacity .25s ease;

  &:hover {
    opacity: .7;
  }
}

#tesselate {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  stroke: $brand-primary;
  fill: none;

  &:active {
    stroke: $black;
  }
}

// menu overlay

.overlay {
  z-index: 10;
  position: fixed;
  background: $brand-primary;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
  }
}
