// general style

// contents
//
// containers
// media queries
// spacing
// grid breakpoints
// grid containers
// fonts


// containers

.content-column, .content-wide {
  margin: 100px auto;
  position: relative;
}

.content-column {
  width: 70%;
}

.portfolio-wide {
  width: 400px;
}

// media queries

@media (max-width: map-get($grid-breakpoints, md)) {
  .content-column, .content-wide {
    width: 80%;
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .content-column, .content-wide {
    margin: 75px auto;
    width: 99%;
  }
  .portfolio-wide {
    width: 100%;
  }
}

// spacing

.mb-0 {
  margin-bottom: map-get($spacers, 0);
}

.mb-2 {
  margin-bottom: map-get($spacers, 2);
}

.mb-4 {
  margin-bottom: map-get($spacers, 4);
}

// fonts

h5 {
  font-family: $font-family-monospace;
  letter-spacing: .05em;
  text-transform: uppercase;
}

p {
  letter-spacing: .025em;
  white-space: pre-wrap;
}
